<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Our Portfolio</h2>
    <p>Explore Our Car Collection</p>
  </div>

  <div class="container">

    <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

      <!-- Portfolio Filters -->
      <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
        <li data-filter="*" class="filter-active">All</li>
        <li data-filter=".filter-new">New Cars</li>
        <li data-filter=".filter-used">Used Cars</li>
        <li data-filter=".filter-luxury">Luxury Cars</li>
      </ul>

      <!-- Portfolio Container -->
      <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

        
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-new">
          <img src="assets/img/portfolio/tesla2.jpg" class="img-fluid" alt="New Car 1">
          <div class="portfolio-info">
            <h4>2023 Tesla Model S</h4>
            <p>Electric | Sleek Design</p>
            <a href="assets/img/portfolio/tesla2.jpg" title="2023 Tesla Model S" data-gallery="portfolio-gallery-new" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div><!-- End Portfolio Item -->

        
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-used">
          <img src="assets/img/portfolio/toyotaCamry.jpg" class="img-fluid" alt="Used Car 1">
          <div class="portfolio-info">
            <h4>2018 Toyota Camry</h4>
            <p>Reliable | Great Condition</p>
            <a href="assets/img/portfolio/toyotaCamry.jpg" title="2018 Toyota Camry" data-gallery="portfolio-gallery-used" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>

        
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-luxury">
          <img src="assets/img/portfolio/porsche 911.jpg" class="img-fluid" alt="Luxury Car 1">
          <div class="portfolio-info">
            <h4>2022 Porsche 911</h4>
            <p>Sporty | High Performance</p>
            <a href="assets/img/portfolio/porsche 911.jpg" title="2022 Porsche 911" data-gallery="portfolio-gallery-luxury" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>

        
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-new">
          <img src="assets/img/portfolio/mustang.jpg" class="img-fluid" alt="New Car 2">
          <div class="portfolio-info">
            <h4>2023 Ford Mustang</h4>
            <p>Muscle Car | Iconic Design</p>
            <a href="assets/img/portfolio/mustang.jpg" title="2023 Ford Mustang" data-gallery="portfolio-gallery-new" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>

        
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-used">
          <img src="assets/img/portfolio/hondacivic.jpg" class="img-fluid" alt="Used Car 2">
          <div class="portfolio-info">
            <h4>2017 Honda Civic</h4>
            <p>Fuel Efficient | Low Mileage</p>
            <a href="assets/img/portfolio/hondacivic.jpg" title="2017 Honda Civic" data-gallery="portfolio-gallery-used" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>

       
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-luxury">
          <img src="assets/img/portfolio/mercedes.jpg" class="img-fluid" alt="Luxury Car 2">
          <div class="portfolio-info">
            <h4>2023 Mercedes-Benz S-Class</h4>
            <p>Luxury | Cutting-Edge Tech</p>
            <a href="assets/img/portfolio/mercedes.jpg" title="2023 Mercedes-Benz S-Class" data-gallery="portfolio-gallery-luxury" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>

        
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-new">
          <img src="assets/img/portfolio/korveta.jpg" class="img-fluid" alt="New Car 3">
          <div class="portfolio-info">
            <h4>2023 Chevrolet Corvette</h4>
            <p>Supercar | High Performance</p>
            <a href="assets/img/portfolio/korveta.jpg" title="2023 Chevrolet Corvette" data-gallery="portfolio-gallery-new" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>

        
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-used">
          <img src="assets/img/portfolio/nissan.jpg" class="img-fluid" alt="Used Car 3">
          <div class="portfolio-info">
            <h4>2019 Nissan Altima</h4>
            <p>Comfortable | Great Value</p>
            <a href="assets/img/portfolio/nissan.jpg" title="2019 Nissan Altima" data-gallery="portfolio-gallery-used" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>

        
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-luxury">
          <img src="assets/img/portfolio/bmw89.jpg" class="img-fluid" alt="Luxury Car 3">
          <div class="portfolio-info">
            <h4>2023 BMW 4 Series</h4>
            <p>Elegant | Advanced Features</p>
            <a href="assets/img/portfolio/bmw89.jpg" title="2023 BMW 7 Series" data-gallery="portfolio-gallery-luxury" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
          </div>
        </div>

      </div><!-- End Portfolio Container -->

    </div>

  </div>
  

</section><!-- /Portfolio Section -->
